html {
    font-family: "Roboto", sans-serif;
}

.container-title {
    background-color: rgb(85, 184, 214);
    text-align: left;
}

.title {
    color: rgb(189, 98, 0);
    margin: 20px;
}

.title2 {
    font-weight: bold;
}

.button {
    background-color: rgb(189, 98, 0);
    color: white;
    padding: 20px;
    border-radius: 25px;
    margin: 20px;
}

.container-pictures {
    align-items: center;
}
