html {
    font-family: "Roboto", sans-serif;
}

.container-nav {
    
}

.container-title {
    background-color: rgb(85, 184, 214);
    display: flex;
    margin-top: 60px;
    margin-bottom: 20px;
    
}

.title {
    color: rgb(189, 98, 0);
    margin: 20px;
}

.title2 {
    font-weight: bold;
}

.button-main {
    background-color: rgb(189, 98, 0);
    color: white;
    padding: 20px;
    border-radius: 25px;
    margin-left;
}


.container-pictures {
    display: flex;

    flex-direction: row;
    justify-content: center; 
}

img {
    align-items: center;
    object-fit: cover;
    height: 400px;
    width: 300px;
    border-radius: 30px;
    margin: 10px;
   
}
